<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Склад</title>
    <link rel="stylesheet" th:href="@{/style/for_point.css}"/>
    <link rel="stylesheet" th:href="@{/style/for_admin.css}"/>
    <style>


    </style>
</head>
<body>
<div class="wrapper">
    <header class="fixed">
        <div class="nav-and-search">
            <h1 th:text="${manager.pointOfSale.name}">г. Уфа Торговый центр "Парус"</h1>
        </div>
        <div class="icons">
            <a th:href="@{/account}"> <img height="35px" th:src="@{/img/header/user.png}"></a>
        </div>
    </header>
    <header class="invisible">
        <div class="nav-and-search">
            <h1 th:text="${manager.pointOfSale.name}">г. Уфа Торговый центр "Парус"</h1>
        </div>
        <div class="icons">
            <a th:href="@{/account}"> <img height="35px" th:src="@{/img/header/user.png}"></a>
        </div>
    </header>
    <div class="container">
        <div class="sidebar fixed" style="">
            <a th:href="@{/order}">Заказы</a>
            <a th:href="@{/sclad}">Товары на складе</a>
            <a th:href="@{/otchet}">Отчетность</a>
            <a th:href="@{/registration}">Регистрация клиента</a>
            <a th:href="@{/registration/manager}">Регистрация менеджера</a>
            <a th:href="@{/point}">Магазин</a>
            <div class="logo-container">
                <img height="150px" th:src="@{/img/body/forLoginRegistration/germes.png}" alt="">
            </div>
        </div>
        <div class="sidebar invisible" style="">
            <a th:href="@{/order}">Заказы</a>
            <a th:href="@{/sclad}">Товары на складе</a>
            <a th:href="@{/otchet}">Отчетность</a>
            <a th:href="@{/registration}">Регистрация клиента</a>
            <a th:href="@{/registration/manager}">Регистрация менеджера</a>
            <a th:href="@{/point}">Магазин</a>
            <div class="logo-container">
                <img height="150px" th:src="@{/img/body/forLoginRegistration/germes.png}" alt="">
            </div>
        </div>

        <div class="main-content">
            <header class="header_for_point">
                <div class="nav-and-search">
                    <form th:action="@{/create-order_for-fabric}" method="get">
                        <button>+ Создать заказ</button>
                    </form>
                </div>
                <div class="search-container">
                    <form th:action="@{/sclad/search}" method="post">
                        <input type="text" name="query" placeholder="Поиск...">
                    </form>
                </div>


            </header>
            <table class="documents-table">
                <thead>
                <tr>
                    <!--                    <th class="filter-header">-->
                    <!--                        <span class="filter-icon">Статус</span>-->
                    <!--                        <div class="filter-dropdown">-->
                    <!--                            <select>-->
                    <!--                                <option value="">Все статусы</option>-->
                    <!--                                <option value="active">В наличии</option>-->
                    <!--                                <option value="archived">Изготавливается</option>-->
                    <!--                            </select>-->
                    <!--                            <button>Применить</button>-->
                    <!--                        </div>-->
                    <!--                    </th>-->
                    <th>Наименование
                    </th>
                    <th>Общий габарит</th>
                    <th>Стоимость</th>
                    <th>Количество</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sclad : ${scladList}">
                    <td th:text="${sclad.productForIndividual.name}"></td>
                    <td th:text="${sclad.productForIndividual.size}"></td>
                    <td th:text="${sclad.productForIndividual.price}"></td>
                    <td th:text="${sclad.count}"></td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>

<script>
    // Простая реализация фильтрации
    document.querySelectorAll('.filter-dropdown button').forEach(button => {
        button.addEventListener('click', function () {
            const columnIndex = this.closest('th').cellIndex;
            const select = this.previousElementSibling;
            const filterValue = select.value;
            const table = this.closest('table');

            table.querySelectorAll('tbody tr').forEach(row => {
                const cell = row.cells[columnIndex];
                const cellValue = cell.textContent.trim().toLowerCase();

                if (filterValue === "" || cellValue.includes(filterValue.toLowerCase())) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    });
</script>


</body>
</html>