* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

a {
    all: unset;
    color: inherit;
    text-decoration: none;
    cursor: auto;
}

html, body {
    height: 100%;
    min-height: 100vh;
}

.login-form {
    background: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.client {
    display: flex;
    padding-left: 500px;
    padding-top: 50px;
}

.form_client {
    border: none;
    background: white;
    padding: 30px;
    width: 500px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}


/* 
button:hover {
    background-color: #45a049;
} */

.login-form {
    display: flex;
    flex-direction: column;
    /* max-width: 800px; 
    width: 100%; */
    gap: 10px;

}


.login-form label,
.form_client label {
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.form-group input,
.form-group textarea {
    height: 20px;
    /* width: 480px; */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccccc;
    /* padding-left: 10px; */
    border-radius: 25px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.651);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

}


.login-form input:focus,
.form_client input::focus {
    border-color: #FD880B;
    outline: none;
    box-shadow: 0 0 8px rgba(26, 188, 156, 0.5);
}


.login-form button,
.form_client button {
    padding: 12px;
    margin-top: 10px;
    background: #2ab89bb9;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease, transform 0.3s ease;
    width: 100%;
}

.login-form input::placeholder,
.form_client input::placeholder {
    color: #0000007a;
    padding-left: 10px;
}


.login-form button:hover,
.form_client button:hover {
    background: linear-gradient(135deg, #16a085, #1abc9c);
    transform: translateY(-2px);
}


.login-form button:active,
.form_client button:active {
    transform: translateY(0);
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Минимальная высота на весь экран */
}

main {
    flex: 1; /* Основной контент растягивается, чтобы занять оставшееся пространство */
}

.fixed {
    position: fixed;
    z-index: 100;
}

.invisible {
    visibility: hidden;
}

header {
    display: flex;
    height: 30px;
    background-color: #1b2136;
    color: white;
    padding: 10px 0px 15px 0px;
    width: 100%;
    z-index: 2;
}

.nav-and-search h1 {
    font-size: 25px;
    font-weight: 300;
}

.header_for_point {
    background-color: #777777;
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 0px;
    justify-content: flex-end;
}

.icons {
    padding-right: 20px;
}

.icons a:hover {

    color: #1abc9c;
    transform: scale(1.1);
    transition: transform .5s;
}

.icons a:active {
    color: #1abc9c;
    transform: scale(0.9);
    transition: transform .5s;
}


.logo-container {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}


.nav-and-search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    gap: 20px;
    width: 100%;
}

.nav-and-search button {
    font-size: 18px;
    height: 35px;
    background-color: #6c6e7500;
    border-radius: 10px;
    border: 2px solid #ffffff; /* Граница поля ввода */
    color: #ffffff;
    width: 160px;
}

nav {
    display: flex;
    gap: 45px; /* Расстояние между ссылками */
}

.search-container {
    display: flex;
    /* align-items: center; */
    gap: 10px; /* Расстояние между полем ввода и кнопкой */
    width: 400px;
    padding-right: 20px;
    justify-content: flex-end;
}


.search-container input {
    padding: 5px 20px; /* Отступы внутри поля ввода */
    border: 2px solid #ffffff; /* Граница поля ввода */
    border-radius: 25px; /* Скругление углов */
    font-size: 18px; /* Размер текста */
    width: 100%;
    background-color: #6c6e7500;
    color: rgb(255, 255, 255);
    height: 18px;
    width: 284px;
}

.search-container input:focus {
    padding-left: 20px;
    outline: none;
}

.search-container input::placeholder {
    color: #ffffff
}


header .group1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 29px;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    background-color: rgba(44, 62, 80, 0);
}

header nav {
    align-items: center;
}

header nav a {
    padding-left: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #1abc9c;
    transform: scale(1.1);
    transition: transform .5s;
}

header nav a:active {
    color: #1abc9c;
    transform: scale(0.9);
    transition: transform .5s;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    /* width: 250px; */
    height: 100vh;
    background-color: #0e2a46;
    color: white;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
    cursor: pointer;

}

.sidebar li {
    text-decoration: none;
    padding-top: 15px;
    padding-right: 10px;
}


.sidebar a:hover {
    color: #1abc9c;
}

.sidebar a:active {
    color: #1abc9c;
}


.main-content {
    flex: 1;
    /* padding: 20px; */
}

.documents-table {
    width: 100%;
    border-collapse: collapse;
}

.documents-table th {
    /* background-color: #f2f2f2; */
    text-align: left;
    padding: 8px 15px;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.documents-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}

.documents-table tr:hover {
    background-color: #f9f9f9;
}

.status {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 3px;
    font-size: 15px;
}

.status-active {
    background-color: #e6f7e6;
    color: #2e7d32;
}

.document-name {
    font-size: 15px;
    font-weight: 500;
}

.document-date {
    color: #666;
    font-size: 15px;
}

.filter-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
    /* min-width: 150px; */
    width: 85%;
}

.filter-header:hover .filter-dropdown {
    display: block;
}

.filter-header {
    cursor: pointer;
    position: relative;
}

.filter-dropdown select {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 15px;
}

.filter-dropdown button {
    padding: 5px 10px;
    background: #0e2a46;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
}

.filter-icon::after {
    content: "▼";
    font-size: 10px;
    margin-left: 5px;
    color: #666;
}


/* Стили для списка отзывов */
.reviews-list {
    margin-bottom: 20px;
}

.review {
    padding: 10px;
    border-bottom: 1px solid #6e6e6e;
    margin-bottom: 10px;

}

.review:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.review-author {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
}


.review-text {
    margin-bottom: 5px;
    font-size: 18px;
}

.review-photo img {
    max-width: 25%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.review-date {
    font-size: 1.2em;
    color: #777;
}

/* Стили для формы */
.review-form {
    display: flex;
    flex-direction: column;
}

.review-form h3 {
    margin-bottom: 10px;
}

.review-form input,
.review-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 1.2em;
}

.review-form textarea {
    resize: vertical;
    min-height: 50px;
}


.review-form button {
    padding: 10px;
    height: 90%;
    width: 250px;
    background: #192042af;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease, transform 0.3s ease;
    margin-bottom: 20px;
}

.review-form button:hover {
    background: linear-gradient(135deg, #5616a0, #123081);
    transform: translateY(-2px);
}

.review-form button:active {
    transform: translateY(0);
}

.average-rating {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.review-rating {
    color: #ffc107; /* Золотой цвет для звезд */
    font-size: 25px;
    margin-bottom: 5px;
}

.rating .stars {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;

}

.rating .star {
    font-size: 30px;
    color: #ccc; /* Серый цвет для неактивных звезд */
    cursor: pointer;
    transition: color 0.2s ease;
}

.rating .star.active,
.rating .star:hover {
    color: #ffc107; /* Золотой цвет для активных звезд */
}

.contact-info {
    border-radius: 5px;
    margin-bottom: 10px;
}

.contact-info p {
    padding-top: 10px;
    font-size: 18px;
}

.contact-info h1 {
    padding-bottom: 5px;
}

.map-container {
    margin-top: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    width: 100%;
    height: 400px;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    padding-bottom: 10px;
    text-align: start;
    font-weight: 500;
}

.section p {
    padding-top: 10px;
    font-size: 18px;
}

.section ul {
    padding-top: 10px;
    font-size: 18px;
}

.working-hours {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.working-day {
    flex: 1;
    min-width: 200px;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
}

.day-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.coordinates {
    display: none; /* Скрыто, но доступно для JS */
}


.delivery-section, .assembly-section {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.notice {
    background-color: #f3eaea7a;
    border-left: 4px solid #28315077;
    padding: 15px;
    margin: 20px 0;
    font-size: 15px;
}

/* table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
} */

th, td {
    border: 1px solid #dddddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #283150;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.excluded-list {
    columns: 3;
    column-gap: 20px;
    margin: 15px 0;
}

.delivery h1 {
    padding-top: 15px;
    padding-bottom: 10px;
}

.delivery h2 {
    padding-bottom: 10px;
}

/* Основные стили для блока отзывов */
.reviews {
    padding-top: 30px;
    grid-column: 1/3;
    width: 100%;
    background-color: #ffffff;
}

.reviews h2 {
    margin-bottom: 25px;
    border-bottom: #000000a8;
    text-align: start;
    font-weight: 500;
}

.flex_center {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: stretch;
    padding: 40px;
    margin-left: 40px;
}